/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
*/


html {
  position: relative;
  min-height: 100%;
}


body {
    background-color: #F7F7F7;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 60px;
}

/*
.formulario__registro input {
    border: none;
    border-bottom: 1px solid;
}

.formulario__registro {
    border: 5px solid #0B5ED7;
    padding: 35px;
}*/


.ancher{
   text-decoration: none;
}

/*.boton_busqueda {
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    color: #FEFEFE;
    background-color: #0B5ED7;
}


.formulario__busqueda {
    width: 150px;
    height: 30px;
    margin-left: 10px;
    border-radius: 8px;
}

.busqueda_conjunta__contenedor {
    width: 450px;
    height: 380px;
    padding: 15px;
}

.titulo__busqueda__conjunta {
    border-bottom: 3px solid;
    margin-bottom: 20px;
    background-color: rebeccapurple;
    color: white;
}

.boton__busqueda__conjunta {
    padding: 5px;
    width: 100px;
    color: white;
    border: none;
    background-color: rebeccapurple;
    border-top: 3px solid;
}
*/

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    background-color: #FFFFFf;
}

.card__contenido {
    padding: 20px;
    margin: 0;
}

.card .card__img {
    /*width: 300px;
    overflow: hidden;
    transition: all 500ms ease;
    cursor: pointer;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    margin-bottom: 0px;
    object-fit: cover;
    height: 230px;
}

.card .card__img {
    width: 100%;
    transition: all 500ms ease;
}

.card .card__img:hover 
{
    transform: scale(1.03);
    cursor: pointer;
}


.card__tipo-propiedad {
    color: #023e8a;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.card__precio {
    color: #023e8a;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0;
}

.card__titulo {
    color: #023e8a;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
}

.card__titulo:hover 
{
  cursor: pointer;
  color: #00B98E;
}

.card__calle {
    margin-top: 10px;
    font-size: 20px;
    color: #666565;
}

.contendor__iconos--Card {
    border-top: 1px dashed #00b98e;
    padding-top: 10px;
    color: #023e8a;
    display: flex;
    gap: 40px;
}

.card__iconos--medida {
    padding: 0;
    margin: 0;
    padding: 10px;
}

.card__iconos--habitaciones {
    padding: 0;
    margin: 0;
    border-left: 1px dashed #00b98e;
    padding: 10px;
    padding-left: 10px;
}
.card__iconos--baños {
    padding: 10px;
    border-left: 1px dashed #00b98e;
}

.border-alineado {
    border-top: 1px dashed #00b98e;
}

.home__imagenes {
    padding: 30px;
}

.carousel-inner {
    margin: 0 auto;
    width: 100%;
    background: #fff;
    height: 350px;
    display: flex;
    align-items: center;
}

.carousel-inner img 
{
    width: auto;
    max-width: 500px;
    border-radius: 20px;
    vertical-align: middle;
    margin: 0 auto;
}

.carousel-control-prev {
    background-color: #fff;
    border-radius: 20px 0px 0px 20px;
}

.carousel-control-next {
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
}

.carousel-control-next-icon{
    background-color: black;
    color: black;
}

.carousel-control-prev-icon {
    background-color: black;
    color: black;
}

.home-descripcion {
    padding: 30px;
    background-color: #00B98E;
    border-radius: 30px;
}

.Descripcion__titulo {
    text-align: center;
    margin-bottom: 10px;
}

.home-descripcion__contenido {
    background-color: #E3E8EE;
    padding: 30px;
    border-radius: 30px;
}

.agente--seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

.agente--nombre {
    margin: 0;
    padding: 0;
}

.propidad--mejoras__lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    background-color: #00B98E;
    margin-top: 20px;
    border-radius: 20px;
}

.propidad--mejoras__lista li 
{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    text-align: center;
}





/*** Navbar ***/
.nav-bar {
    position: relative;
    transition: .5s;
    z-index: 9999;
}

    .nav-bar.sticky-top {
        position: sticky;
        padding: 0;
        z-index: 9999;
    }

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}


.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

 
@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn 
{
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover 
{
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover 
{
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary 
{
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i 
{
    color: var(--secondary) !important;
}


.asesoria
{
    font-size: 15px;
    text-align: center;
}

.style-agente {
    background: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
}

.foto__agente{
    margin-top: 10px;
}

.descripcion{
    text-align: center;
}

.detalles{
    margin-top: 10px;
    background: #fff;
    font-size: 20px;
    padding: 10px;
}

.bed {
    margin-right: 6px;
    padding: 3px;
    background-color: #90e0ef;
}

.toilet {
    margin-right: 6px;
    padding: 3px;
    background-color: #90e0ef;
}

.rule {
    margin-right: 6px;
    padding: 3px;
    background-color: #90e0ef;
}

.spn{
    font-weight: 600;
}

.alinear-agente {
    display: flex;
    flex-direction: row;
}

.dark-purple {
    background: #023e8a;
}

.dark-blue {
    background: #03045e
}

.light-blue {
    background: #0077b6;
}

html 
{
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.contenedor button {
    color: green;
    background: none;
    cursor: pointer;
}

.card-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card--seguidores {
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.card--seguidores:hover 
{
   transform: translateY(-5px);
}

.card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount--seguidores {
    display: flex;
    flex-direction: column;
}

.title {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}

.titleCuentaPrimaria {
    color: #ffee32;
    font-size: 15px;
    font-weight: 600;
}

.followers-count {
    color: #fff;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.icon {
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
}

.contenedor__propiedad {
    margin: 0 auto;
    max-width: 12000px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}