html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.formulario__registro input {
    border: none;
    border-bottom: 1px solid;
}

.formulario__registro {
    border: 5px solid #0B5ED7;
    padding: 35px;
}

.card {
    background-color: #FEFEFE;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

    .card img {
        width: 100%;
        height: 300px;
    }

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.card__Contenido {
    padding: 20px;
}

.iconos {
    border-top: 1px solid;
    padding: 18px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.boton_busqueda {
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    color: #FEFEFE;
    background-color: #0B5ED7;
}


.formulario__busqueda {
    width: 150px;
    height: 30px;
    margin-left: 10px;
    border-radius: 8px;
}

.busqueda_conjunta__contenedor {
    width: 450px;
    height: 380px;
    padding: 15px;
}

.titulo__busqueda__conjunta {
    border-bottom: 3px solid;
    margin-bottom: 20px;
    background-color: rebeccapurple;
    color: white;
}

.boton__busqueda__conjunta {
    padding: 5px;
    width: 100px;
    color: white;
    border: none;
    background-color: rebeccapurple;
    border-top: 3px solid;
}


.carousel {
    width: 652px;
}

    .carousel img {
        height: 400px;
    }

.codigo__propiedad {
    padding: 3px;
    border: 1px solid;
    width: 120px;
}

.foto__agente {
    border-radius: 50%;
    width: 200px;
    margin-top: 20px;
}