@model string
@{
    ViewData["Title"] = "ConfirmEmail";
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-6 mt-4">
                <img class="logo__img"
                     src="~/img/image_processing20191202-14263-ydyw15.png"
                     alt="" />
            </div>

            <div class="col-6">

                <h1 class="mt-5">@Model  </h1>

                <a asp-controller="Home" asp-action="Index" class="btn btn-primary float-end">Log In</a>
            </div>
        </div>
    </div>
</section>

