@model RealStateApp.Core.Application.ViewModel.Mejora.MejoraViewModel;
@{
    ViewData["Title"] = "EliminarMejora";
}

<form asp-controller="Mejora" asp-action="EliminarMejoraPost" method="post" style="margin-bottom:500px ;">
    <h2 class="text-black  fw-bold text-center mt-3">
        ¿Está seguro que desea eliminar esta Mejora y todas sus
        propiedades?
    </h2>
    <div style="gap: 20px;" class="d-flex justify-content-center align-content-between mt-3 ">
        <input type="hidden" name="Id" value="@Model.Id" />
        <button class="btn btn-danger " type="submit">Eliminar</button>
        <a asp-controller="Mejora" class="btn btn-info text-white" asp-action="ListadoMejoras">Cancelar</a>
    </div>

</form>




