@model RealStateApp.Core.Application.ViewModel.Propiedad.PropiedadViewModel;
@{
    ViewData["Title"] = "Eliminar";
}

<form asp-controller="Propiedad" asp-action="Eliminar" method="post" style="margin-bottom:500px ;">
    <h2 class="text-black  fw-bold text-center mt-3">
        ¿Está seguro que desea eliminar esta Propiedad?
    <div style="gap: 20px;" class="d-flex justify-content-center align-content-between mt-3 ">
        <input type="hidden" name="Id" value="@Model.Id" />
        <button class="btn btn-danger " type="submit">Eliminar</button>
        <a asp-controller="Admin" class="btn btn-info text-white" asp-action="ListadoAgentes">Cancelar</a>
    </div>

</form>

